body {
  font: 16px/1.5 "Courier New", Arial, sans-serif
}

body,
a {
  color: #222;
  margin: 0;
  padding: 0
}

p {
  text-align: justify
}

h3,
p {
  padding: 0 0 10px;
  margin: 10px 0 0
}

h3 {
  color: #f15b23;
  font-family: '04b_30';
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 10px;
  padding: 0;
  text-shadow: 1px 1px #222;
}

button {
  background-color: #f15b23;
  position: relative;
  padding: 6px 8px 5px 6px;
  margin: 0 5px;
  cursor: pointer;
  border: 0;
  font-size: 14px;
  box-shadow: 5px 5px;
}

input {
  background: #fff;
  border: 1px solid #d8d8d8;
  font-size: 13px;
  margin-bottom: 2em;
  padding: 2%;
  white-space: normal;
  width: 100%;
}

ul {
  list-style-type: none;
}

th {
  margin: 0 10px 0 10px;
}
